@model IEnumerable<Consultorio_Seguros.Models.Asegurado>

@{
    ViewData["Title"] = "BIENVENID@S AL SISTEMA";
}

<div class="container py-4">
    <div class="row mt-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><b>@ViewData["Title"]</b></h4>
            <hr />
            <p>Para realizar una busqueda de algun seguro utilice el siguiente buscador puede buscar por cédula de cliente o por código del seguro.</p>
        </div>
        <hr />
        <p class="text-center">
            @using (Html.BeginForm("Inicio", "Asegurados", FormMethod.Get))
            {
                <b>BUSCAR POR :</b>

                @Html.RadioButton("SearchBy", "Cedula", true) <text> Cedula </text>
                @Html.RadioButton("SearchBy", "Codigo") <text> Codigo </text>
                @Html.TextBox("search")
                 <input type="submit" value="Buscar" />
            }
        </p>
        <div class="col-md-12">
            <div class="card border-0 shadow-lg">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>